.imagen-home {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la página */
    text-align: center; /* Centra la imagen si el contenedor tiene más ancho que la imagen */
   
    background: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(255,255,255,0.1)); /* Fondo sutil */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor del contenedor */
}

.imagen-home img {
    max-width: 100%;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.3s ease, filter 0.3s ease; /* Transición suave */
}

.imagen-home img:hover {
    
    filter: brightness(1.1); /* Aumentar brillo al pasar el cursor */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente para diferenciar del fondo */
    padding: 20px;
    margin-top: 100vh; /* Empieza después de la imagen de fondo */
}
